body {
  background-color: #eef;
  color: #222;
  font-family: sans-serif;
  margin: 0;
}
.header-main {
  background-color: #306;
  color: #eee;
  padding: 1rem 0;
  position: sticky;
  top: 0;
}
a {
  color: #2cf;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.header-main h1 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header-main-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header-main ul {
  margin: 0;
  padding-inline-start: 0;
}
.page-width {
  padding: 0 1rem;
}
main h1 {
  margin-top: 4rem;
  margin-bottom: 1rem;
}
main h2 {
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}
main table {
  border-width: 1px;
  border-style: solid;
  border-color: #666;
  border-collapse: collapse;
}
th,
td {
	border: 1px solid;
  padding: 0.33rem;
}
@media (min-width: 768px) {
  .page-width {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }
  .header-main .page-width {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
@media (min-width: 1024px) {
  .page-width {
    max-width: 800px;
  }
}
@media (min-width: 1280px) {
  .page-width {
    max-width: 1000px;
  }
}
@media (min-width: 1366px) {
  .page-width {
    max-width: 1200px;
  }
}
.header-main li {
  display: inline-block;
  margin-right: 0.5rem;
}
.footer-main li {
  display: inline-block;
  margin: 0.5rem;
}
.footer-main ul {
  padding-left: 0;
}
main {
  min-height: 85vh;
}
.terms ul {
  margin: 0;
  padding-inline-start: 0;
}
.terms li {
  display: inline-block;
  margin-right: 0.5rem;
}
.footer-main {
  background-color: #ddf;
  color: #444;
  margin-top: 2rem;
  padding: 1rem 0 3rem 0;
  text-align: center;
}
.deemphasized {
  color: #666;
}
.appthere-logo {
  height: 2rem;
  width: auto;
}
.hero-text {
  color: #555;
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}
.flexdiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}
.hero-card {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgb(0 0 0 / 0.1);
  display: block;
  padding: 2rem;
  max-width: 320px;
}
.hero-card svg {
  display: block;
  height: 6rem;
  width: 6rem;
  margin: 1rem auto;
}
pre {
  border-radius: 0.5rem;
  padding: .5rem;
}